{% extends 'base.html' %}

{% block title %}
    Добавление абитуриента
{% endblock %}


{% block content %}
<!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">Список абитуриентов</h1>
                <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item active text-primary"><a href="{{ url_for('applicants') }}">Вернуться к списку поступающих</a></li>
                </ol>
            </div>
        </div>
        <!-- Header End -->


        <!-- Book Appointment Start -->
        <div class="container-fluid appointment py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-12 wow fadeInRight" data-wow-delay="0.4s">
                        <div class="appointment-form rounded p-5">
                            <p class="fs-4 text-uppercase text-primary">Добавление записи абитуриента</p>
                            <form method="POST" enctype="multipart/form-data">
                                <div class="row gy-3 gx-4">
                                    <div class="col-xl-12">
                                        <label>ФИО:</label>
                                        <input type="text" name="fullname" value="{{ fullname }}" class="form-control py-3 border-primary bg-transparent text-black" placeholder="Иванов Иван Иванович" value="{{ lastname }}" required>
                                    </div>
                                    <div class="col-xl-12">
                                        <label>Факультет:</label>
                                        <select id="faculties" name="faculties" onchange="faculty_id_click()" class="form-control py-3 border-primary bg-transparent text-black">
                                            {% for f in faculties %}
                                                <option value="{{ f.id }}" {% if f.id == faculty_id %} selected {% endif %}>{{ f.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-xl-12">
                                        <label>Направление:</label>
                                        <select id="specialties" name="specialties" class="form-control py-3 border-primary bg-transparent text-black" placeholder="Фамилия" value="{{ lastname }}" required>
                                            {% if specialty_id and specialty_id <= 0 %}
                                                <option value="0"></option>
                                            {% elif not specialty_id %}
                                                <option value="0"></option>
                                            {% endif %}
                                            {% for s in specialties %}
                                                {% if s.faculty.id == 1 and not specialty_id %}
                                                    <option id="{{ s.faculty.id }}" value="{{ s.id }}">{{ s.name }} (профиль «{{ s.profile }}»)</option>
                                                {% elif s.faculty.id == 1 and specialty_id and specialty_id == 1 %}
                                                    <option id="{{ s.faculty.id }}" value="{{ s.id }}">{{ s.name }} (профиль «{{ s.profile }}»)</option>
                                                {% elif s.faculty.id == faculty_id and specialty_id and specialty_id > 0 %}
                                                    <option id="{{ s.faculty.id }}" value="{{ s.id }}" {% if specialty_id and specialty_id == s.id %} selected {% endif %} >{{ s.name }} (профиль «{{ s.profile }}»)</option>
                                                {% else %}
                                                    <option id="{{ s.faculty.id }}" value="{{ s.id }}" style="display:none">{{ s.name }} (профиль «{{ s.profile }}»)</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-xl-12">
                                        <label>ЕГЭ (1 предмет):</label>
                                        <input type="number" name="ege1" min="10" max="100" {% if ege1 %} value="{{ ege1 }}" {% else %} value="10" {% endif %} class="form-control py-3 border-primary bg-transparent text-black" placeholder="Телефон" value="{{ telephone }}" required>
                                    </div>
                                    <div class="col-xl-12">
                                        <label>ЕГЭ (2 предмет):</label>
                                        <input type="number" name="ege2" min="10" max="100" {% if ege2 %} value="{{ ege2 }}" {% else %} value="10" {% endif %} class="form-control py-3 border-primary bg-transparent text-black" placeholder="Телефон" value="{{ telephone }}" required>
                                    </div>
                                    <div class="col-xl-12">
                                        <label>ЕГЭ (3 предмет):</label>
                                        <input type="number" name="ege3" min="10" max="100" {% if ege3 %} value="{{ ege3 }}" {% else %} value="10" {% endif %} class="form-control py-3 border-primary bg-transparent text-black" placeholder="Телефон" value="{{ telephone }}" required>
                                    </div>
                                    <div class="col-xl-12">
                                        <label>Индивидуальное достижение (1):</label>
                                        <select name="individual1" class="form-control py-3 border-primary bg-transparent text-black">
                                            <option value="0">Не выбрано</option>
                                            {% for i in ia %}
                                                <option value="{{ i.id }}" {% if individual1 and individual1 == i.id %} selected {% endif %}>+{{i.score}} {{ i.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-xl-12">
                                        <label>Индивидуальное достижение (2):</label>
                                        <select name="individual2" class="form-control py-3 border-primary bg-transparent text-black">
                                            <option value="0">Не выбрано</option>
                                            {% for i in ia %}
                                                <option value="{{ i.id }}" {% if individual2 and individual2 == i.id %} selected {% endif %}>+{{i.score}} {{ i.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% with messages = get_flashed_messages() %}
                                      {% if messages %}
                                        <ul class=flashes>
                                        {% for message in messages %}
                                          <li style="color:red">{{ message }}</li>
                                        {% endfor %}
                                        </ul>
                                      {% endif %}
                                    {% endwith %}
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary text-white w-100 py-3 px-5">Создать новую запись</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Book Appointment End -->
{% endblock %}